@import url("https://fonts.googleapis.com/css2?family=Damion&family=Vujahday+Script&family=Yuji+Mai&display=swap");
.header {
  position: relative;
  width: 100%;
  height: 560px;
  background: url(../images/header-img.png) no-repeat;
  background-size: cover;
  background-position: center top;
}
@media screen and (max-width: 1570px) {
  .header {
    height: 400px;
  }
}
@media screen and (max-width: 825px) {
  .header {
    height: 280px;
  }
}
@media screen and (max-width: 470px) {
  .header {
    height: 230px;
  }
}
.header__copy {
  position: absolute;
  top: 11%;
  left: 30%;
  display: flex;
  flex-direction: column-reverse;
  gap: 26px;
  font-size: clamp(26px, 1.8vw, 35px);
  font-family: "Yuji Mai";
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}
@media screen and (max-width: 1570px) {
  .header__copy {
    left: 30%;
  }
}
@media screen and (max-width: 1100px) {
  .header__copy {
    left: 10%;
    gap: 20px;
  }
}
@media screen and (min-width: 1522px) and (max-width: 1571px) {
  .header__copy {
    top: 6%;
  }
}
@media screen and (max-width: 825px) {
  .header__copy {
    font-size: clamp(18px, 1.8vw, 26px);
  }
}
@media screen and (max-width: 659px) {
  .header__copy {
    left: 5%;
    gap: 12px;
  }
}
@media screen and (max-width: 470px) {
  .header__copy {
    font-size: 15px;
    gap: 8px;
  }
}
.header__logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 65%;
  height: 100%;
  background: #ccc;
  margin-left: auto;
  background: rgba(255, 255, 255, 0.4);
}
@media screen and (max-width: 1570px) {
  .header__logo {
    width: 70%;
  }
}
@media screen and (max-width: 1100px) {
  .header__logo {
    width: 100%;
  }
}
.header__logo > a {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-size: clamp(50px, 12vw, 361px);
  font-family: "Vujahday Script";
  font-weight: 400;
  color: #010D23;
  margin-right: 10%;
}
@media screen and (max-width: 1100px) {
  .header__logo > a {
    font-size: 13vw;
  }
}
.header__logo > a > span {
  position: absolute;
  bottom: 20%;
  right: 0;
  font-family: "Damion";
  font-size: clamp(45px, 2.5vw, 55px);
  margin: -50px 0 0 auto;
}
@media screen and (max-width: 1690px) {
  .header__logo > a > span {
    bottom: 27%;
  }
}
@media screen and (max-width: 1570px) {
  .header__logo > a > span {
    bottom: 25%;
  }
}
@media screen and (max-width: 1100px) {
  .header__logo > a > span {
    font-size: clamp(35px, 4.5vw, 45px);
  }
}
@media screen and (max-width: 825px) {
  .header__logo > a > span {
    bottom: 27%;
    font-size: clamp(27px, 1.5vw, 33px);
  }
}
@media screen and (max-width: 470px) {
  .header__logo > a > span {
    font-size: clamp(15px, 4vw, 20px);
  }
}
.header__nav {
  position: absolute;
  bottom: 25px;
  right: 0;
  width: 50%;
  height: 68px;
  background: #010D23;
}
@media screen and (max-width: 1100px) {
  .header__nav {
    width: 65%;
  }
}
@media screen and (max-width: 825px) {
  .header__nav {
    height: 48px;
  }
}
@media screen and (max-width: 470px) {
  .header__nav {
    bottom: 10px;
    height: 38px;
  }
}
.header__nav .navList {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.header__nav .navList__items {
  width: 20%;
  height: 100%;
}
.header__nav .navList__items > a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: clamp(20px, 1.5vw, 33px);
  font-style: italic;
  font-weight: 700;
}
@media screen and (max-width: 825px) {
  .header__nav .navList__items > a {
    font-size: clamp(14px, 2vw, 18px);
  }
}

#service {
  padding-top: 165px;
}
@media screen and (max-width: 825px) {
  #service {
    padding-top: 90px;
  }
}
#service .serviceList {
  display: flex;
  justify-content: space-around;
  margin-top: 296px;
}
@media screen and (max-width: 825px) {
  #service .serviceList {
    flex-direction: column;
    margin-top: 156px;
  }
}
#service .serviceList__items {
  position: relative;
  display: flex;
  justify-content: center;
  width: 23%;
  background: #010D23;
  padding: 120px 0 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 1690px) {
  #service .serviceList__items {
    width: 30%;
  }
}
@media screen and (max-width: 1570px) {
  #service .serviceList__items {
    width: 30%;
  }
}
@media screen and (max-width: 825px) {
  #service .serviceList__items {
    width: 60%;
    margin: 0 0 20px 40%;
  }
}
@media screen and (max-width: 470px) {
  #service .serviceList__items {
    width: 100%;
    margin: 0 0 20px 5%;
  }
}
#service .serviceList__items > span {
  display: flex;
  color: #fff;
}
#service .serviceList__items > span:first-child {
  position: absolute;
  top: 75px;
  font-size: clamp(16px, 1.3vw, 20px);
  padding-left: 25%;
}
#service .serviceList__items > span:last-child {
  width: 83%;
  font-size: clamp(18px, 0.8vw, 28px);
}
#service .serviceList__items:nth-child(1)::after {
  position: absolute;
  top: -190px;
  left: -130px;
  content: "";
  width: 386px;
  height: 256px;
  background: url(../images/derction.png) no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -1;
  transition: all 0.4s;
}
@media screen and (max-width: 1570px) {
  #service .serviceList__items:nth-child(1)::after {
    top: -160px;
    left: -110px;
    transform: scale(0.8);
  }
}
@media screen and (max-width: 1100px) {
  #service .serviceList__items:nth-child(1)::after {
    top: -130px;
    left: -90px;
    transform: scale(0.6);
  }
}
@media screen and (max-width: 825px) {
  #service .serviceList__items:nth-child(1)::after {
    top: -100px;
    left: -260px;
    transform: scale(0.9);
  }
}
#service .serviceList__items:nth-child(1) span:first-child::after {
  position: absolute;
  top: -55px;
  left: 50%;
  content: "Description";
  font-size: clamp(20px, 2vw, 42px);
  font-style: italic;
  font-weight: 700;
  transform: translate(-50%, 0);
}
@media screen and (max-width: 1570px) {
  #service .serviceList__items:nth-child(1) span:first-child::after {
    top: -55px;
    font-size: clamp(20px, 3vw, 42px);
  }
}
@media screen and (max-width: 825px) {
  #service .serviceList__items:nth-child(1) span:first-child::after {
    top: -50px;
    font-size: clamp(20px, 5vw, 37px);
  }
}
@media screen and (max-width: 470px) {
  #service .serviceList__items:nth-child(1) span:first-child::after {
    top: -45px;
    font-size: clamp(20px, 10vw, 30px);
  }
}
#service .serviceList__items:nth-child(2)::after {
  position: absolute;
  top: -190px;
  left: -130px;
  content: "";
  width: 386px;
  height: 256px;
  background: url(../images/design.png) no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -1;
  transition: all 0.4s;
}
@media screen and (max-width: 1570px) {
  #service .serviceList__items:nth-child(2)::after {
    top: -160px;
    left: -110px;
    transform: scale(0.8);
  }
}
@media screen and (max-width: 1100px) {
  #service .serviceList__items:nth-child(2)::after {
    top: -130px;
    left: -90px;
    transform: scale(0.6);
  }
}
@media screen and (max-width: 825px) {
  #service .serviceList__items:nth-child(2)::after {
    top: -100px;
    left: -260px;
    transform: scale(0.9);
  }
}
#service .serviceList__items:nth-child(2) span:first-child::after {
  position: absolute;
  top: -55px;
  left: 50%;
  content: "Design";
  font-size: clamp(20px, 2vw, 42px);
  font-style: italic;
  font-weight: 700;
  transform: translate(-50%, 0);
}
@media screen and (max-width: 1570px) {
  #service .serviceList__items:nth-child(2) span:first-child::after {
    top: -55px;
    font-size: clamp(20px, 3vw, 42px);
  }
}
@media screen and (max-width: 825px) {
  #service .serviceList__items:nth-child(2) span:first-child::after {
    top: -50px;
    font-size: clamp(20px, 5vw, 37px);
  }
}
@media screen and (max-width: 470px) {
  #service .serviceList__items:nth-child(2) span:first-child::after {
    top: -45px;
    font-size: clamp(20px, 10vw, 30px);
  }
}
#service .serviceList__items:nth-child(3)::after {
  position: absolute;
  top: -190px;
  left: -130px;
  content: "";
  width: 386px;
  height: 256px;
  background: url(../images/coding.png) no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -1;
  transition: all 0.4s;
}
@media screen and (max-width: 1570px) {
  #service .serviceList__items:nth-child(3)::after {
    top: -160px;
    left: -110px;
    transform: scale(0.8);
  }
}
@media screen and (max-width: 1100px) {
  #service .serviceList__items:nth-child(3)::after {
    top: -130px;
    left: -90px;
    transform: scale(0.6);
  }
}
@media screen and (max-width: 825px) {
  #service .serviceList__items:nth-child(3)::after {
    top: -100px;
    left: -260px;
    transform: scale(0.9);
  }
}
#service .serviceList__items:nth-child(3) span:first-child::after {
  position: absolute;
  top: -55px;
  left: 50%;
  content: "Coding";
  font-size: clamp(20px, 2vw, 42px);
  font-style: italic;
  font-weight: 700;
  transform: translate(-50%, 0);
}
@media screen and (max-width: 1570px) {
  #service .serviceList__items:nth-child(3) span:first-child::after {
    top: -55px;
    font-size: clamp(20px, 3vw, 42px);
  }
}
@media screen and (max-width: 825px) {
  #service .serviceList__items:nth-child(3) span:first-child::after {
    top: -50px;
    font-size: clamp(20px, 5vw, 37px);
  }
}
@media screen and (max-width: 470px) {
  #service .serviceList__items:nth-child(3) span:first-child::after {
    top: -45px;
    font-size: clamp(20px, 10vw, 30px);
  }
}

#works {
  margin-top: 165px;
  width: 100%;
}
@media screen and (max-width: 825px) {
  #works {
    margin-top: 90px;
  }
}
#works .workList {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 215px;
  margin-top: 107px;
}
@media screen and (max-width: 1690px) {
  #works .workList {
    gap: 94px;
  }
}
@media screen and (max-width: 825px) {
  #works .workList {
    gap: 50px;
  }
}
#works .workList__items {
  position: relative;
  width: 100%;
  height: auto;
  box-shadow: 0px 2px 6px -3px;
  transition: all 0.5s;
}
@media screen and (max-width: 1690px) {
  #works .workList__items {
    transform: scale(0.8);
  }
}
@media screen and (max-width: 825px) {
  #works .workList__items {
    box-shadow: none;
    transform: scale(1);
  }
}
#works .workList__items > a {
  display: grid;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#works .workList__items > a > img {
  width: 100%;
}
#works .workList__items > p {
  position: absolute;
  bottom: -5%;
  right: 10%;
  display: flex;
  flex-direction: column;
  width: 515px;
  background: #010D23;
  color: #fff;
  padding: 20px;
  opacity: 0.4;
  z-index: 3;
  transform: scale(0.5);
  transition: all 0.4s;
  transform-origin: right bottom;
}
@media screen and (max-width: 825px) {
  #works .workList__items > p {
    transform: scale(1);
    opacity: 0.8;
  }
}
#works .workList__items > p:hover {
  opacity: 1;
  transform: scale(1);
}
#works .workList__items > p > span:nth-of-type(1) {
  font-size: clamp(18px, 1vw, 28px);
}
#works .workList__items > p > span:nth-of-type(2) {
  font-size: clamp(14px, 0.7vw, 18px);
  padding: 5px 0 15px;
}
#works .workList__items > p > span:nth-of-type(3) {
  font-size: clamp(16px, 0.7vw, 20px);
}
@media screen and (max-width: 1570px) {
  #works .workList__items > p {
    right: 10%;
  }
}
@media screen and (max-width: 1100px) {
  #works .workList__items > p {
    right: -5%;
    bottom: -5%;
  }
}
@media screen and (max-width: 825px) {
  #works .workList__items > p {
    position: static;
    width: 100%;
    margin-top: 30px;
  }
}

#contact {
  position: relative;
  margin-top: 165px;
}
#contact .contactHead {
  width: 100%;
  height: 273px;
  padding-top: 50px;
  background: #010D23;
  color: #fff;
}
#contact .contactHead > .sc-title {
  color: #fff;
}
#contact .contactHead > p {
  font-size: clamp(14px, 1.5vw, 20px);
  font-weight: 800;
  margin-top: 40px;
  padding: 0 5%;
  max-width: 1400px;
}
#contact .contactForm {
  position: relative;
  padding: 90px 0;
  background: url(../images/contact-bg.png) no-repeat;
  background-size: cover;
  background-position: center bottom;
}
#contact .contactForm::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(255, 255, 255, 0.6);
  z-index: 1;
}
#contact .contactForm .form__box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 5%;
  z-index: 2;
  padding-bottom: 134px;
}
@media screen and (max-width: 659px) {
  #contact .contactForm .form__box {
    padding-bottom: 80px;
  }
}
#contact .contactForm .form__box__rows {
  display: flex;
  height: 3rem;
}
@media screen and (max-width: 659px) {
  #contact .contactForm .form__box__rows {
    flex-direction: column;
    height: auto;
  }
}
#contact .contactForm .form__box__rows:last-child {
  height: 240px;
}
@media screen and (max-width: 659px) {
  #contact .contactForm .form__box__rows:last-child {
    height: auto;
  }
}
#contact .contactForm .form__box__rows .label {
  width: 40%;
  font-size: clamp(16px, 3.5vw, 24px);
}
@media screen and (max-width: 659px) {
  #contact .contactForm .form__box__rows .label {
    width: 100%;
  }
}
#contact .contactForm .form__box__rows .label > span {
  color: rgb(207, 81, 81);
  font-size: 12px;
  margin-left: 15px;
}
#contact .contactForm .form__box__rows .inputs {
  width: 60%;
  border-radius: 10px;
  transition: all 0.4s;
}
#contact .contactForm .form__box__rows .inputs:focus-within {
  box-shadow: 0px 3px 4px -2px;
}
#contact .contactForm .form__box__rows .inputs:focus-within input {
  opacity: 1;
}
#contact .contactForm .form__box__rows .inputs > input {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  font-size: 20px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #010D23;
  opacity: 0.8;
}
@media screen and (max-width: 659px) {
  #contact .contactForm .form__box__rows .inputs {
    width: 100%;
    height: 55px;
  }
}
#contact .contactForm .form__box__rows .input-notes {
  width: 60%;
  height: 240px;
  border-radius: 10px;
  transition: all 0.4s;
}
#contact .contactForm .form__box__rows .input-notes:focus-within {
  box-shadow: 0px 3px 4px -2px;
}
#contact .contactForm .form__box__rows .input-notes:focus-within textarea {
  opacity: 1;
}
#contact .contactForm .form__box__rows .input-notes > textarea {
  width: 100%;
  height: 100%;
  font-size: 20px;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #010D23;
  opacity: 0.8;
  resize: none;
  overflow-y: scroll;
}
@media screen and (max-width: 659px) {
  #contact .contactForm .form__box__rows .input-notes {
    width: 100%;
  }
}
#contact .sub-btn {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  padding: 45px 0;
  background: #010D23;
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  border: none;
  z-index: 3;
}
@media screen and (max-width: 659px) {
  #contact .sub-btn {
    padding: 25px 0;
    font-size: 20px;
  }
}

#about {
  padding: 165px 0 68px;
  background: #fff;
  overflow: hidden;
}
@media screen and (max-width: 659px) {
  #about {
    padding: 165px 0 0;
  }
}
#about::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 60%;
  height: 1541px;
  background: url(../images/about-bg-img.png) no-repeat;
  background-size: cover;
  background-position: center center;
}
@media screen and (max-width: 1690px) {
  #about::before {
    height: 1310px;
  }
}
@media screen and (max-width: 659px) {
  #about::before {
    width: 100%;
    height: 1700px;
  }
}
#about > .sc-title {
  position: relative;
}
#about > .sc-title::before {
  position: absolute;
  top: -130px;
  left: 50%;
  width: 254px;
  height: 295px;
  content: "";
  background: url(../images/bird.png) no-repeat;
  background-size: cover;
  background-position: center center;
  transform: rotate(335deg);
  transition: all 0.4s;
}
@media screen and (max-width: 1690px) {
  #about > .sc-title::before {
    top: -140px;
    transform: scale(0.9) rotate(335deg);
  }
}
@media screen and (max-width: 470px) {
  #about > .sc-title::before {
    transform: scale(0.6) rotate(335deg);
  }
}
#about .wrap {
  display: flex;
  gap: 10%;
  margin-top: 178px;
}
@media screen and (max-width: 1570px) {
  #about .wrap {
    max-width: 90vw;
    gap: 5%;
  }
}
@media screen and (max-width: 825px) {
  #about .wrap {
    gap: 15px;
  }
}
@media screen and (max-width: 659px) {
  #about .wrap {
    flex-direction: column;
    margin-top: 90px;
  }
}
@media screen and (max-width: 470px) {
  #about .wrap {
    gap: 30px;
  }
}
#about .wrap > article {
  width: 45%;
}
#about .wrap .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}
@media screen and (max-width: 825px) {
  #about .wrap .profile {
    width: 40%;
  }
}
@media screen and (max-width: 659px) {
  #about .wrap .profile {
    width: 100%;
  }
}
#about .wrap .profile__avatar {
  position: relative;
  width: 400px;
  height: 400px;
  transition: all 0.4s;
}
@media screen and (max-width: 1100px) {
  #about .wrap .profile__avatar {
    transform: scale(0.9);
  }
}
@media screen and (max-width: 825px) {
  #about .wrap .profile__avatar {
    transform: scale(0.7);
  }
}
@media screen and (max-width: 470px) {
  #about .wrap .profile__avatar {
    transform: scale(1);
  }
}
#about .wrap .profile__avatar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/about-avatar-bg.png) no-repeat;
  background-size: cover;
  background-position: center center;
}
#about .wrap .profile__avatar::after {
  content: "";
  position: absolute;
  top: 18%;
  left: 18%;
  width: 65%;
  height: 65%;
  background: url(../images/sanji.png) no-repeat;
  background-size: cover;
  background-position: center center;
}
#about .wrap .profile__avatarData {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#about .wrap .profile__avatarData__items {
  display: flex;
  border-bottom: 1px dotted #010D23;
  padding-bottom: 7px;
}
#about .wrap .profile__avatarData__items .data-title {
  flex: 1.5;
  display: block;
  letter-spacing: 0.3rem;
}
#about .wrap .profile__avatarData__items .data-details {
  flex: 2.5;
  display: flex;
  flex-direction: column;
}
#about .wrap .profile__avatarData__items .data-details > i {
  font-size: 12px;
  margin-left: auto;
}
#about .wrap .career {
  position: relative;
  padding-bottom: 231px;
}
@media screen and (max-width: 1100px) {
  #about .wrap .career {
    width: 50%;
  }
}
@media screen and (max-width: 825px) {
  #about .wrap .career {
    width: 60%;
  }
}
@media screen and (max-width: 659px) {
  #about .wrap .career {
    width: 100%;
    padding-bottom: 165px;
  }
}
#about .wrap .career__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 640px;
  overflow-y: scroll;
  background: rgba(1, 13, 35, 0.4);
  border-radius: 15px;
  color: #fff;
  padding: 50px 50px 0;
  transition: all 0.7s;
}
@media screen and (max-width: 1100px) {
  #about .wrap .career__list {
    padding: 40px 40px 0;
  }
}
@media screen and (max-width: 825px) {
  #about .wrap .career__list {
    padding: 20px 10px 0;
  }
}
@media screen and (max-width: 659px) {
  #about .wrap .career__list {
    height: 420px;
    padding: 20px 20px 0;
    background: rgba(1, 13, 35, 0.9);
  }
}
#about .wrap .career__list::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 240px;
  background: url(../images/about-right-img.png) no-repeat;
  background-size: cover;
  background-position: center center;
}
@media screen and (max-width: 1570px) {
  #about .wrap .career__list::before {
    height: 190px;
  }
}
@media screen and (max-width: 1100px) {
  #about .wrap .career__list::before {
    height: 142px;
  }
}
#about .wrap .career__list:hover {
  gap: 30px;
  background: rgba(1, 13, 35, 0.9);
}
#about .wrap .career__list:hover .detail__notes {
  display: block;
}
#about .wrap .career__list__rows {
  display: flex;
}
@media screen and (max-width: 825px) {
  #about .wrap .career__list__rows {
    gap: 15px;
  }
}
#about .wrap .career__list__rows .date {
  flex: 1;
}
#about .wrap .career__list__rows .date > span {
  display: block;
}
#about .wrap .career__list__rows .date > span:first-child {
  font-size: 20px;
}
@media screen and (max-width: 470px) {
  #about .wrap .career__list__rows .date > span:first-child {
    font-size: 17px;
  }
}
#about .wrap .career__list__rows .detail {
  flex: 3;
  font-size: 20px;
}
#about .wrap .career__list__rows .detail__title {
  display: block;
  font-size: 20px;
}
@media screen and (max-width: 470px) {
  #about .wrap .career__list__rows .detail__title {
    font-size: 17px;
  }
}
#about .wrap .career__list__rows .detail__notes {
  display: none;
  font-size: 14px;
  padding-left: 1rem;
}

#footer {
  width: 100%;
}
#footer > p {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  color: #fff;
  background: #010D23;
  font-size: 12px;
  font-style: italic;
}
#footer > p > span {
  position: absolute;
  top: -20px;
  right: 5%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
@media screen and (max-width: 659px) {
  #footer > p > span {
    top: -30px;
    height: 70px;
  }
}
#footer > p > span > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 50%;
  height: 100%;
  background: #010D23;
  transition: transform 0.4s;
  color: #fff;
}
#footer > p > span > a:hover {
  transform: scale(1.3);
  font-weight: 700;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.bg-img {
  position: fixed;
  top: -220px;
  width: 100vw;
  max-height: 1920px;
  height: 1600px;
  background: url(../images/fixd-bg.png) no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -9999;
}
@media screen and (max-width: 825px) {
  .bg-img {
    top: 100px;
    height: 1040px;
  }
}
@media screen and (max-width: 659px) {
  .bg-img {
    top: 0;
    height: 780px;
  }
}

.wrap {
  max-width: 80vw;
  margin: 0 auto;
}
@media screen and (max-width: 1100px) {
  .wrap {
    max-width: 85vw;
  }
}

.sc-title {
  font-style: italic;
  font-weight: 700;
  color: #010D23;
  font-size: clamp(50px, 2.7vw, 70px);
  text-align: center;
}
@media screen and (max-width: 470px) {
  .sc-title {
    font-size: clamp(32px, 10vw, 50px);
  }
}

.test {
  height: 1000px;
}

/*# sourceMappingURL=style.css.map */
