@use 'responsive' as *;

@use 'header';
@use 'service';
@use 'works';
@use 'contact';
@use 'about';
@use 'footer';

@import url('https://fonts.googleapis.com/css2?family=Damion&family=Vujahday+Script&family=Yuji+Mai&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #fff;
    overflow: hidden;

    z-index: 9999;
    &>span {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 500px;
        // border: 1px dotted #ccc;
        border-radius: 50%;
        color: #222;
        font-weight: 700;
        font-size: 24px;
        animation: fontColor 20s infinite;


        @include tab {

            width: 350px;
            height:  350px;
        }


        @include sp {
            width: 270px;
            height: 270px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url(../images/loading.png) no-repeat;
            background-size: cover;
            animation: rotate 20s infinite;
        }

    }

    @keyframes rotate  {

        0% {
            transform: scale(1.2) rotateZ(0deg);
            opacity: 0.8;
        }

        100% {
            transform: scale(1.2) rotateZ(360deg);
            opacity: 0.4;
        }
    }

    @keyframes fontColor {

        0% {
            color: #222;
        }

        100% {

            color: rgb(226, 226, 226);
        }

    }
}

.loaded {

    opacity: 0;
    transition: all 0.4s;
}

.bg-img {
    position: fixed;
    top: -220px;
    width: 100vw;
    // min-height: 1200px;
    max-height: 1920px;
    height: 1600px;
    background: url(../images/fixd-bg.png) no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -9999;

    @include tab {
        top: 100px;
        height: 1040px;
    }

    @include tab-s {
        top: 0;
        height: 780px;
    }
}

#content {
    width: 100vw;
    visibility: hidden;
    transition: visibility 0.3s;
}


.wrap {

    max-width: 80vw;
    margin: 0 auto;

    @include desktop-s {
        max-width: 85vw;
    }
}

.sc-title {
    font-style: italic;
    font-weight: 700;
    color: #010D23;
    font-size: clamp(50px, 2.7vw, 70px);
    text-align: center;

    @include sp {

        font-size: clamp(32px, 10vw, 50px);
    }
}


.test {
    height: 1000px;
}
