.jobChageCase {
    position: relative;

    &__title {

        .title {
            margin: 30px 0 50px;
        }

        img {
            width: 460px;
            margin-left: -438px;
            margin-bottom: -47px;

            @include mb {
                width: 227px;
                margin-left: -221px;
                margin-bottom: -24px;
            }
        }
    }

    &__list {
        display: flex;
        padding-left: 85px;

        @include mb {
            display: block;
            padding: 0 10px;
        }

        &__items {
            width: 470px;
            height: 545px;
            margin-right: 85px;
            background: #fff;
            box-shadow: 0px 1px 5px -2px;

            @include mb {
                width: 375px;
                height: 150px;
                box-shadow: 0 0 0 0;
            }

            @include mb {
                display: flex;
                justify-content: end;
                width: 375px;
            }

            .desktop {
                @include mb {
                    display: none;
                }
            }

            .mobile {
                display: none;

                @include mb {
                    display: block;
                    width: 190px;
                    height: 130px;
                    margin: 0;
                    padding: 0 20px 20px 0;


                    &::after {
                        position: absolute;
                        top: 10px;
                        left: 15px;
                        content: '';
                        width: 90%;
                        height: 90%;
                        display: block;
                        border-bottom: 2px solid #E2E2E2;
                        border-right: 2px solid #E2E2E2;
                        border-left: 0;
                        border-top: 0;
                    }
                }
            }

            &__img {
                float: right;
                position: relative;
                width: 100%;
                height: 340px;
                margin-bottom: 35px;

                @include mb {
                    width: 190px;
                    height: 130px;
                    margin: 0;
                    padding: 20px 0 0 20px;


                    &::after {
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        content: '';
                        width: 90%;
                        height: 90%;
                        display: block;
                        border-top: 2px solid #E2E2E2;
                        border-left: 2px solid #E2E2E2;
                    }
                }

                img {
                    width: 100%;
                    height: 100%;

                    @include mb {
                        width: 170px;
                        height: 110px;
                    }
                }
            }

            &__textArea {
                position: relative;

                @include mb {
                    width: 180px;
                    font-size: 12px;
                }

                &__title {
                    padding: 0 10px;
                }

                &__point {
                    position: relative;
                    padding: 15px 10px;

                    @include mb {
                        padding: 13px 0 13px 10px;
                        font-size: 10px;
                    }

                    &::before {
                        position: absolute;
                        left: 10px;
                        bottom: 17px;
                        content: '';
                        display: block;
                        width: 50%;
                        border-bottom: 6px solid $textBgColor;

                        @include mb {
                            bottom: 13px;
                        }
                    }
                }

                &__text {
                    padding: 0 10px;
                    line-height: 20px;

                    @include mb {
                        font-size: 10px;
                        line-height: 15px;
                    }
                }

                &__more {
                    display: none;
                    position: absolute;
                    right: 22px;
                    bottom: 17px;

                    @include mb {
                        display: block;
                    }
                }
            }
        }
    }

    &__more {
        width: 180px;
        height: 50px;
        background-color: $colorRed;
        border-radius: 10px;
        margin-top: 50px;
        margin-left: auto;

        a {
            display: block;
            width: 100%;
            height: 100%;
            line-height: 50px;
            text-align: center;
            color: #fff;
        }

        @include mb {
            width: 55%;
            height: 90%;
            margin: 20px auto 0;
        }
    }
}