@charset "utf-8";
@import "_colors";
@import "_function";
@import "_header";
@import "_nav";
@import "_main";
@import "_jobpoint";
@import "_jobChageCase";
@import "_useFlow";
@import "_message";
@import "_footer";


.container {
    width: 1200px;
    margin: 0 auto;

    @include mb {
        max-width: 100vw;
    }
}

.title {
    margin: 50px 0 65px;
    font-size: 28px;

    @include mb {
        text-align: center;
        font-size: 14px;
        margin: 43px auto;
    }
}

.colorBlue {
    background-color: $colorBlue;
}

.colorOrange {
    background-color: $colorOrange;
}

.btn {
    display: block;
    width: 385px;
    height: 80px;
    font-size: 32px;
    background-color: $colorRed;
    border: 0;
    border-radius: 15px;
    text-align: center;
    margin: 50px auto 0;

    a {
        color: #fff;
    }

    @include mb {
        width: 200px;
        height: 50px;
        font-size: 18px;
        margin: 20px auto 0;
        border-radius: 10px;
    }
}

ul {
    /* Firefox 対応 */
    scrollbar-width: none;

    &::-webkit-scrollbar {
        /* Chrome, Safari 対応 */
        display: none;
    }
}