@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* color: #5c5c5c; */
    font-size: 10px;
    font-family: 'Noto Serif Japanese','Noto Sans Japanese';
}

a {
    text-decoration: none;
    color: #5c5c5c;
}

ul {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

ul::-webkit-scrollbar {
    display: none;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}
input {
    outline-style: none;
    font-size: 12px;
    padding: 2px 0;
}

textarea {
    outline-style: none;
    resize: none;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ri5rfk');
  src:  url('../fonts/icomoon.eot?ri5rfk#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ri5rfk') format('truetype'),
    url('../fonts/icomoon.woff?ri5rfk') format('woff'),
    url('../fonts/icomoon.svg?ri5rfk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}