@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?mi2jgx');
  src:  url('fonts/icomoon.eot?mi2jgx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?mi2jgx') format('truetype'),
    url('fonts/icomoon.woff?mi2jgx') format('woff'),
    url('fonts/icomoon.svg?mi2jgx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

* {
	margin: 0;
	padding; 0;
	box-sizing: border-box;
}

body {
	font-size: 14px;
	color: #888;
}

img {
	vartical-align: middle;
}

a {
	text-decoration: none;
	color: #888;
}

li {
	list-style: none;
}
em,
i {
	font-style: normal;
}

.clearfix {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}